*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

header img{
    /* width: 300px; */
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

header ul{
    display: flex;
    list-style-type: none;
    gap: 56px;
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    margin-right: 50px;
    margin-top: 10px;
}

header li{
    height: 100%;
    line-height: 100px;
}

header ul a:link,
header ul a:visited{
    text-decoration: none;
    color: #000;
}

.mainVisual{
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/mainVisual_01.jpeg");
    background-position: contain;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 1; */
}

main{
    position: relative;
}

.onsenContent{
    background-color: #7D3333;
}

.kemuri img{
    display: block;
    width: 100%;
    height: 500px;
}

