*{
    padding: 0;
    margin: 0;
    font-family: serif;
}

/* ここからヘッダー */

header{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

.onsenLogoImg a{
    display: block;
    background-image: url("../images/logo_onsen.png");
    height: 80px;
    width: 450px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;
    background-color: #FFF;
}

/* onsenLogoImg a{
    height: 80px;
    width: 450px;
} */

header ul{
    display: flex;
    list-style-type: none;
    gap: 45px;
    font-size: 20px;
    font-weight: bold;
    /* height: 100px; */
    margin-right: 50px;
    margin-top: 10px;
    align-items: center;
    background-color: #FFF;
}

header li{
    display: flex;
    align-items: center;
    background-color: #FFF;
}

header ul li a {
    position: relative;
    background-color: #FFF;
}

header ul a:link,
header ul a:visited{
    text-decoration: none;
    color: #000;
}

header ul a::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -10%;
    transform: scale(0, 1);
    transform-origin: left;
    transition: 0.5s;
}

header ul a:hover::after {
    transform: scale(1,1);
}

/* ここからトグルゾーン */

.toggle-button-4 {
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    box-sizing: content-box;
    background-color: #00000033;
    cursor: pointer;
    transition: background-color .4s;
}

.toggle-button-4:has(:checked) {
    background-color: #87121233;
}

.toggle-button-4::before {
    position: absolute;
    left: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #000000;
    content: '';
    transition: left .4s;
}

.toggle-button-4:has(:checked)::before {
    left: 50px;
    background-color: #871212;
}

.toggle-button-4::after {
    position: absolute;
    left: 26px;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 600;
    font-size: .9em;
    content: '明';
    transition: left .4s;
}

.toggle-button-4:has(:checked)::after {
    left: 71px;
    content: '暗';
}

.toggle-button-4 input {
    display: none;
}


/* ここからメイン/ */

/* .benner h1{
    background-image: url("../images/benner_01.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    line-height: 20vh;
    color: #fefefe;
    text-align: center;
} */
main{
    background-color: #FFFFED;
}

.benner h1{
    width: 100%;
    height: 20vh;
    background: linear-gradient(rgba(0,0,0,0.6)),
    no-repeat url("../images/benner_01.png") center top / cover;
    color: #fff;
    text-align: center;
    line-height: 20vh;
}

/* .benner {
    background-image: url("../images/benner_01.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    position: relative;
}


.benner h1{
    color: tomato;
    position: absolute;
    top: auto;
    left: auto;
} */

.yukemuriCoffee{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin: 150px 0 0;
    /* margin: auto; */
}

.yukemuriCoffeeFont{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.yukemuriCoffeeFont img{
    width: 300px;
}

.yukemuriCoffeeImg img{
    border-radius: 20px;
}

.yukemuriCoffeeFont p{
    width: 600px;
    font-size: 20px;
}

.yukemuriCoffeeFont a{
    padding: 15px 50px;
    background-color: #D1BB75;
    border-radius: 10px;
}

.yukemuriCoffeeFont a:link,
.yukemuriCoffeeFont a:visited{
    text-decoration: none;
    color: #000;
}

.yukemuriCoffeeFont a:hover{
    background-color: #E2D5AB;
    transition: 1s;
}

/* 温泉ゾーンです */

.onsenkyou{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin: 100px 0;
}

.onsenkyouFont{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 600px;
}

.onsenkyou img{
    width: 300px;
    border-radius: 20px;
}

.onsenkyouFont p{
    font-size: 20px;
}

.onsenkyouFont a{
    padding: 15px 50px;
    background-color: #D1BB75;
    border-radius: 10px;
}

.onsenkyouFont a:link,
.onsenkyouFont a:visited{
    text-decoration: none;
    color: #000;
}

.onsenkyouFont a:hover{
    background-color: #E2D5AB;
    transition: 1s;
}

.floorMap{
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
    /* padding-bottom: 100px; */
}

.floorMapHead{
    display: flex;
    border-bottom: 1px solid #000;
    align-items: center;
    margin-bottom: 60px;
}

.floorMapHead h2{
    font-size: 36px;
    margin: 10px 10px 10px 0;
    font-weight: bold;
    border-left: #A90808 15px solid;
    padding-left: 15px;
}

.floorMapImg{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}

footer{
    background-color: #4B2424;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerLogos{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin: 45px 0 50px;
}

.onsenFooter{
    background-image: url("../images/footerLogo_01.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 55px;
    background-position: contain;
}

.coffeeFooter{
    background-image: url("../images/footerLogo_02.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    background-position: contain;
}

.footerFont ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 60px;
}

.footerFont li a:link,
.footerFont li a:visited{
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

.footerAddress{
    margin: 50px auto;
    color: #B3B0B0;
    font-size: 20px;
    font-weight: normal;
}

address{
    font-family: sans-serif;
    text-decoration: none;
}
