*{
    padding: 0;
    margin: 0;
    font-family: serif;
}


/* ここからヘッダー */

.light header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

.dark header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

.light .onsenLogoImg{
    background-image: url("../images/logo_onsen.png");
    height: 80px;
    width: 450px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;
}

.dark .onsenLogoImg{
    background-image: url("../images/OnsenLogo_02.png");
    height: 80px;
    width: 450px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;
}



header img{
    /* width: 300px; */
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
}


header ul{
    display: flex;
    list-style-type: none;
    gap: 45px;
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    margin-right: 50px;
    margin-top: 10px;
    align-items: center;
}

header li{
    height: 100%;
    line-height: 100px;
    display: flex;
    align-items: center;
}

.light header ul a:link,
.light header ul a:visited{
    text-decoration: none;
    color: #000;
}

.dark header ul a:link,
.dark header ul a:visited{
    text-decoration: none;
    color: #FFF;
}


/* トグルゾーン */


.toggle-button-4 {
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    box-sizing: content-box;
    background-color: #00000033;
    cursor: pointer;
    transition: background-color .4s;
}

.toggle-button-4:has(:checked) {
    background-color: #87121233;
}

.toggle-button-4::before {
    position: absolute;
    left: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #000000;
    content: '';
    transition: left .4s;
}

.toggle-button-4:has(:checked)::before {
    left: 50px;
    background-color: #871212;
}

.toggle-button-4::after {
    position: absolute;
    left: 26px;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 600;
    font-size: .9em;
    content: '明';
    transition: left .4s;
}

.toggle-button-4:has(:checked)::after {
    left: 71px;
    content: '暗';
}

.toggle-button-4 input {
    display: none;
}

/* ここからメイン */

.mainVisual{
    width: 100%;
    min-height: 100vh;
    /* background-image: url("../images/mainVisual_01.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
    margin: 0 auto;
    position: relative;
    z-index: 1;
    animation: show 2s forwards;
}

.mainVisual img{
    width: 100%;
    min-height: 100vh;
    size: cover;
}

.mainVisual ul{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.mainVisual li{
    position: absolute;
    transition: 1s;
    opacity: 0;
}

main{
    position: relative;
    /* background-color: #FFFFED; */
}

/* ここから温泉 */


.kemuri img{
    display: block;
    width: 100%;
    height: 500px;
}

.naturalOnsen{
    margin: 40px 0 0;
    display: flex;
    padding: 0 20px;
    /* width: 100%; */
    /* transform-origin: center top;
    animation: show 1s both; */
}



.naturalOnsenFont{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.naturalOnsen img{
    width: 600px;
    height: auto;
}

.naturalOnsenFont h1{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 36px;
    height: 105px;
    line-height: 105px;
}



.light .fontLogo{
    display: flex;
    background-color: #411A1A;
}

.dark .fontLogo{
    display: flex;
    background-color: #905455;
}


.naturalOnsenFont img{
    width: 100px;
    height: auto;
    margin: 20px 35px;
}

.naturalOnsenFont p{
    /* color: #FFFFFF; */
    font-size: 16px;
    margin: 50px 40px;
}

.naturalOnsenFont h2{
    margin-top: 80px;
    margin-left: 40px;
}

.naturalOnsenFont a{
    background-color: #D1BB75;
    padding: 10px 45px;
    border-radius: 20px;
}

.naturalOnsenFont a:link ,
.naturalOnsenFont a:visited{
    color: #000;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
}

.naturalOnsenFont a:hover{
    background-color: #E2D5AB;
    transition: 1s;
}

.openOnsen{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 80px;
    padding: 0 20px;
    animation: show 1s forwards;
    animation-delay: 0.3s;
    /* transform-origin: center top;
    animation: show 1s both; */
}


.openOnsen h1{
    font-weight: bold;
    font-size: 36px;
    height: 105px;
    line-height: 105px;
    color: #FFF;
}

.openOnsenFont{
    width: 100%;
}

.light .openFontLogo{
    background-color: #411A1A;
    display: flex;
}

.dark .openFontLogo{
    background-color: #905455;
    display: flex;
}


.openFontLogo img{
    margin: 10px 45px;
}

.openOnsenFont p{
    margin: 50px 40px;
    /* color: #FFF; */
    font-size: 16px;
}

.openOnsenFont h2{
    margin-top: 80px;
    margin-left: 40px;
}

.openOnsenFont a{
    background-color: #D1BB75;
    padding: 10px 45px;
    border-radius: 20px;
}

.openOnsenFont a:link ,
.openOnsenFont a:visited{
    color: #000;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
}

.openOnsenFont a:hover{
    background-color: #E2D5AB;
    transition: 1s;
}

.rock{
    margin: 40px 0 120px;
    display: flex;
    /* width: calc(100%-40px); */
    padding: 0 20px;
}

.rockFont{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rock img{
    width: 600px;
    height: auto;
}

.rockFont h1{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 36px;
    height: 105px;
    line-height: 105px;
}

.light .rockFontLogo{
    display: flex;
    background-color: #411A1A;
}

.dark .rockFontLogo{
    display: flex;
    background-color: #905455;
}


.rockFont img{
    width:  60px;
    height: auto;
    margin: 20px 35px;
}

.rockFont p{
    /* color: #FFFFFF; */
    font-size: 16px;
    margin: 50px 40px;
}

.rockFont h2{
    margin-top: 80px;
    margin-left: 40px;
}

.rockFont a{
    background-color: #D1BB75;
    padding: 10px 45px;
    border-radius: 20px;
}

.rockFont a:link ,
.rockFont a:visited{
    color: #000;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
}

.rockFont a:hover{
    background-color: #E2D5AB;
    transition: 1s;
}

.onsenContent{
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* opacity: 0; */
}

/* ここから湯けむりコーヒー */

.coffeeContent{
    /* background-color: #BF9999; */
    /* transform-origin: center top;
    animation: show 1s both; */
}

.logoHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.logoHeader h1{
    margin: 120px auto 0;
    font-size: 20px;
    font-weight: bold;
}

.logoHeader img{
    margin: 30px auto 100px;
}

.light .logoImg{
    background-image: url("../images/coffeeLogo.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 500px;
    height: 200px;
}

.dark .logoImg{
    background-image: url("../images/coffeeLogo_02.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 500px;
    height: 200px;
}


.coffeeConcept{
    display: flex;
    justify-content: center;
}

.coffeeConcept img{
    border-radius: 20px;
}

.coffeeConceptFont{
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 80px;
    gap: 10px;
}

.coffeeConceptFont h2{
    font-size: 36px;
    font-weight: bold;
}

.coffeeConceptFont p{
    font-size: 16px;
    width: 600px;
}

.coffeeCommitment{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 100px;
}

.coffeeCommitment img{
    border-radius: 20px;
}

.coffeeCommitmentFont{
    display: flex;
    flex-direction: column;
    margin: auto 80px auto 0;
    gap: 10px;
}

.coffeeCommitmentFont h2{
    font-size: 36px;
    font-weight: bold;
}

.coffeeCommitmentFont p{
    font-size: 16px;
    width: 600px;
}


/* ここからニュースゾーン */

.news{
    /* background-color: #FFFFED; */
    width: 1000px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 100px auto 0;
}

.light .newsHead{
    display: flex;
    border-bottom: 1px solid #000;
    align-items: center;
}

.dark .newsHead{
    display: flex;
    border-bottom: 1px solid #FFF;
    align-items: center;
}


.light .newsContent{
    display: flex;
    flex-direction: column;
    border-bottom: #000 solid 1px;
    padding-bottom: 30px;
}

.dark .newsContent{
    display: flex;
    flex-direction: column;
    border-bottom: #FFF solid 1px;
    padding-bottom: 30px;
}


.newsHead h1{
    font-size: 36px;
    margin: 10px 10px 10px 0;
    font-weight: bold;
    border-left: #087E0E 15px solid;
    padding-left: 15px;
}

.light .newsHead p{
    font-size: 24px;
    color: #818181;
    font-weight: 800;
}

.dark .newsHead p{
    font-size: 24px;
    color: #DCD4D4;
    font-weight: 800;
}


.newsContentHead{
    display: flex;
    margin-top: 30px;
    gap: 20px;
    align-items: center;
}

.light .newsContentHead h2{
    font-size: 16px;
    color: #602C2C;
    font-weight: normal;
}

.light .newsContentHead h3{
    font-size: 16px;
    color: #602C2C;
    font-weight: normal;
    border: #602C2C solid 1px;
    border-radius: 20px;
    padding: 2px 30px;
}

.dark .newsContentHead h2{
    font-size: 16px;
    color: #DCD4D4;
    font-weight: normal;
}

.dark .newsContentHead h3{
    font-size: 16px;
    color: #DCD4D4;
    font-weight: normal;
    border: #DCD4D4 solid 1px;
    border-radius: 20px;
    padding: 2px 30px;
}


.newsContent p{
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

.map{
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
    padding-bottom: 100px;
}

.light .mapHead{
    display: flex;
    border-bottom: 1px solid #000;
    align-items: center;
}

.dark .mapHead{
    display: flex;
    border-bottom: 1px solid #FFF;
    align-items: center;
}


.mapHead h1{
    font-size: 36px;
    margin: 10px 10px 10px 0;
    font-weight: bold;
    border-left: #A90808 15px solid;
    padding-left: 15px;
}

.light .mapHead p{
    font-size: 24px;
    color: #818181;
    font-weight: 800;
}

.dark .mapHead p{
    font-size: 24px;
    color: #DCD4D4;
    font-weight: 800;
}


.mapFont{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 10px;
}

.mapFont p{
    margin-top: 10px;
    font-size: 16px;
}

.mapFont ul{
    list-style-type: none;
}

.mapFont li{
    line-height: 30px;
}

/* メインはここまで */



/* フッターはここから */

.light footer{
    background-color: #4B2424;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark footer{
    background-color: #FFFFED;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footerLogos{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin: 45px 0 50px;
}

.light .onsenFooter{
    background-image: url("../images/footerLogo_01.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 55px;
    background-position: contain;
}

.light .coffeeFooter{
    background-image: url("../images/footerLogo_02.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    background-position: contain;
}

.dark .onsenFooter{
    background-image: url("../images/onsenLogoBlock.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 55px;
    background-position: contain;
}

.dark .coffeeFooter{
    background-image: url("../images/coffeeLogoBlock.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    background-position: contain;
}


.footerFont ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 60px;
}

.light .footerFont li a:link,
.light .footerFont li a:visited{
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

.dark .footerFont li a:link,
.dark .footerFont li a:visited{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}


.light .footerAddress{
    margin: 50px auto;
    color: #B3B0B0;
    font-size: 20px;
    font-weight: normal;
}

.dark .footerAddress{
    margin: 50px auto;
    color: #555;
    font-size: 20px;
    font-weight: normal;
}


address{
    font-family: sans-serif;
    text-decoration: none;
}

.light{
    background-color: #FFFFED;
    color: #000;
}

.dark{
    background-color: #411A1A;
    color: #FFF;
}


/* .dh{ animation-delay: .5s;}
.d1{ animation-delay: 1s;}
.d1h{ animation-delay: 1.5s;}
.d2{ animation-delay: 2s;} */

@keyframes show{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes btn{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.7;
    }
}

.animation{
    animation: show 2s forwards;
}


